
.App {
  width: 100%;
  margin: 0 auto;
}

.drag-container {
  text-align: center;
}

.head {
  display: inline-block;
  margin: 0;
  padding: 0;
  background-color: #CCCCCC;
  width:100%;
}

.droppable {
  position: absolute;
  width: 200px;
  min-height: 200px;
  right: 0;
  top: 10;
  background-color: #9E9E9E;
  border-left: 2px dotted red;
}

.draggable {
  width: 100px;
  height: 50px;
  background-color: green;
  margin: 10px auto;
  border-radius: 5px;
}
.draggable:hover {
  background-color: yellow;
  cursor: pointer;
}

.inProgress {
  position: absolute;
  width: 200px;
  min-height:200px;
  left: 0;
  top: 10;
  background-color: #EEEEEE;
  border-right: 2px dotted red;
}